header {
  height: 200px;
  border-bottom: 20px solid grey;
}

aside {
  height: 600px;
  float: left;
  width: 20%;
  background-color: black
}

section {
  height: 600px;
  float: left;
  width: 80%;
  background-color: orange;
}

footer {
  height: 250px;
  clear: both;
  background-color: green;
}